@import 'default.css';
@font-face {
  font-family: 'Galien';
  src: url(../fonts/Galien-Regular.otf);
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Light.otf);
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.container-xl {
  width: 1400px;
  margin: 0 auto;
}

.site-head {
  padding: 44px 0;
}

.head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-right .menu-btn {
  position: relative;
  width: 24px;
  cursor: pointer;
  height: 3px;
  background: #356EAD;
  content: '';
  display: inline-block;
}

.burger1,
.burger2,
.burger3 {
  width: 25px;
  height: 3px;
  background-color: #356EAD;
  display: block;
  margin: 3px 0;
  transition: 0.4s;
}

.head-right:hover .burger1 {
  transform: rotate(-47deg) translate(-1px, 1px);
}

.head-right:hover .burger2 {
  opacity: 0;
}

.head-right:hover .burger3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-btn::before:hover {
  display: none;
}

.head-right .menu-btn:before {
  position: absolute;
  width: 24px;
  height: 3px;
  background: #356EAD;
  content: '';
  top: 7px;
}

.head-right .menu-btn:after {
  position: absolute;
  top: -7.5px;
  width: 24px;
  height: 3.4px;
  background: #356EAD;
  content: '';
}

.site-hero {
  background: url('../imgs/Rectangle.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 60px;
  padding-top: 22px;
}

.site-hero .wrapper {
  display: flex;
  justify-content: space-evenly;
}

.right-element {
  width: 50%;
}

.hero-left {
  margin: 0 auto;
  width: 510px;
  padding-top: 60px;
}

.hero-left .hero-heading {
  font-family: Galien;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  font-weight: normal;
  margin-bottom: 32px;
}

.hero-left .hero-text {
  font-family: Gilroy;
  font-size: 16px;
  margin-bottom: 71px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.hero-left .hero-btn {
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  padding: 15px 48px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
}

.hero-right {
  position: relative;
  left: 200px;
}

.hero-right img {
  width: 750px;
}

.services .top {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;
}

.services .service-texture {
  width: 420px;
}

.services .service-texture .service-heading {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

.services .card {
  padding: 0 48px 48px 48px;
  background: #FFFFFF;
  width: 380px;
  box-sizing: border-box;
  height: 525px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin-bottom: 100px;
}

.absolute.img-box {
  position: relative;
  margin-bottom: 236px;
}

.services .card .absolute img {
  margin-bottom: 51px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -25px;
}

.services .card .card-title {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
  color: #1F3F68;
}

.services .card .card-decs {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.services .card .card-btn {
  font-family: Gilroy;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  position: relative;
}

.services .card .card-btn::before {
  content: '';
  background-image: url(../imgs/ic_arrow_forward_24px.svg);
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -28px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.services .bottom {
  display: flex;
  justify-content: space-between;
}

.tranform {
  transform: translate(60%, -60%);
}

.bottom .card img {
  display: block;
  margin: 0 auto;
  margin-bottom: 57px;
  margin-top: 48px;
}

.finished-apps .app-title {
  display: flex;
  align-items: center;
  margin-bottom: 96px;
}

.finished-apps {
  margin-bottom: 192px;
}

.finished-apps .app-title .app-heading {
  font-size: 36px;
  line-height: 46px;
  margin-right: 93px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.bottom {
  margin-bottom: 192px;
}

.finished-apps .app-title .app-text {
  font-size: 16px;
  width: 540px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.app-wrapper .app-block#first {
  background-image: url('../imgs/Group.png'), linear-gradient(89.99deg, #1F3F68 8.62%, rgba(31, 63, 104, 0.37) 97.78%),
    url('../imgs/alberto-castillo-q-mx4mSkK9zeo-unsplash.png');
  width: 100%;
  background-position: left, left, right;
  background-repeat: no-repeat;
  background-size: contain, cover, cover;
  border-radius: 10px;
  height: 424px;
  padding: 48px 65px;
  box-sizing: border-box;
  margin-bottom: 89px;
}

.app-wrapper .app-block#first .block-title {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 8px;
  text-align: end;
}

.app-wrapper .app-block#first .block-subtitle {
  font-size: 16px;
  text-align: end;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.8;
}

.app-wrapper .app-block .block-title {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.app-wrapper .app-block .block-subtitle {
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.8;
}

.app-wrapper .app-block#second {
  background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%), url('../imgs/Dribble\ iphonex\ mockup.png');
  border-radius: 10px;
  width: 442px;
  height: 437px;
  background-repeat: no-repeat;
  padding: 24px 32px;
  text-align: start;
  background-size: cover;
  background-position: center;
}

.app-wrapper .app-block#third {
  background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%), url('../imgs/upload\ \(1\).png');
  border-radius: 10px;
  width: 442px;
  height: 437px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px 32px;
  background-position: center;
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-footer {
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
}

.site-footer .footer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 96px;
  margin-bottom: 152px;
}

.site-footer .footer-header .footer-heading {
  font-size: 36px;
  width: 243px;
  line-height: 46px;
  letter-spacing: 0.05em;
  margin-right: 97px;
  color: #FFFFFF;
}

.site-footer .footer-header .footer-subheading {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 540px;
  opacity: 0.6;
}

.footer-subheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 125px;
}

.footer-subheader .foot-item {
  width: 300px;
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  line-height: 46px;
  display: block;
  letter-spacing: 0.02em;
  position: relative;
  color: #FFFFFF;
}

.foot-item:first-child:before {
  content: '';
  background: rgb(230, 230, 230);
  width: 1200px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.foot-item::after {
  content: '';
  background: rgb(230, 230, 230);
  height: 126px;
  width: 1px;
  bottom: -20px;
  top: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.foot-item:nth-child(4):after {
  visibility: hidden;
}

.foot-item:nth-child(8):after {
  visibility: hidden;
}

.foot-item:hover {
  background: #1f3f684d;
}

.footer-foot {
  background: #316099;
  /* margin: 0 auto; */
  border-radius: 0px 200px 0px 0px;
  padding-top: 91px;
  width: 95%;
}

.footer-foot .footer-bottom-head {
  width: 560px;
}

.footer-foot .footer-bottom-head .foot-name {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.footer-foot .footer-bottom-head .foot-text {
  font-size: 16px;
  padding-bottom: 96px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-foot .footer-btn a {
  background: #5A98D0;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 15px 75px;
  margin-top: 89px;
  display: inline-block;
  color: #FFFFFF;
}

.footer-foot .container.top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-foot .container.top::after {
  content: '';
  background: rgba(255, 255, 255, 0.4);
  width: 200%;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.down-left .foot-logo {
  padding-top: 100px;
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 46px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 33px;
  text-decoration: none;
}

.down-left .foot-logo img {
  margin-right: 16px;
}

.down-left .footer-txt {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: relative;
  width: 266px;
  margin-bottom: 24px;
  left: 55px;
}

.down-left {
  margin-right: 150px;
}

.down-left .footer-txt::before {
  content: 'T.';
  position: absolute;
  left: -35px;
}

.down-left .footer-txt:nth-child(2)::before {
  content: 'A.';
}

.down-left .footer-txt:nth-child(3)::before {
  content: 'E.';
}

.container.down {
  display: flex;
}

.down-mid h2,
.down-right h2 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
  color: #FFFFFF;
}

.down-mid,
.down-right {
  padding-top: 100px;
  display: flex;
  margin-right: 100px;
  flex-direction: column;
}

.down-mid a,
.down-right a {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

/*
  Blog Page
 */
.blog_hero {
  padding: 65px;
  text-align: center;
  background-image: url('../imgs/backgroundBlog.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 47px;
}

.blog_hero .blog_title {
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.blog_hero .blog_text {
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.4);
}

/* Blog secodn section */
.search_box {
  background: #F4F4F4;
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 113px;
}

.search_icon {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.search_box .search_input {
  padding: 10px 10px 10px 25px;
  display: block;
  border: none;
  width: 90%;
  background: none;
}

.search_input::placeholder {
  color: #1F3F68;
  opacity: 0.6;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 19px;
}

/* Feed  */
.top_feed {
  display: -webkit-flex;
  display: -ms-flex;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_feed_title {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  margin-bottom: 36px;
  position: relative;
}

.top_feed .top_feed_title::before {
  content: 'POPULAR';
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #356EAD;
  position: absolute;
  top: -50px;
  left: 0;
  opacity: 0.8;
}

.top_feed_text {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  width: 500px;
  margin-bottom: 35px;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

.top_feed_infos {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  justify-content: space-between;
  align-items: center;
}

.top_feed_infos p {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  flex-direction: column
}

.top_feed_infos span {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.4;
}

.top_feed_icons a {
  margin-right: 38px;
  text-decoration: none;
}

.feed_bottom_wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 54px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.feed_bottom_wrapper .feed_item {
  width: 300px;
}

.feed_bottom_wrapper .feed_item img.post_item {
  margin-bottom: 16px;
}

.feed_item .feed_item_name {
  font-size: 22px;
  letter-spacing: 0.04em;
  line-height: 38px;
  color: #1F3F68;
  margin-bottom: 16px;
}

.feed_item .feed_item_text {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
  width: 300px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.8);
}

.see_more_wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  margin-bottom: 56px;
  padding-bottom: 26px;
}

.see_more_wrapper .see_more {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #356EAD;
  opacity: 0.8;
  font-weight: 600;
}

.articles .articles_heading {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: #356EAD;
  opacity: 0.8;
}

.articles .article_item {
  display: -webkit-flex;
  margin-bottom: 32px;
  display: -ms-flex;
  display: flex;
}

.articles .article_item .article_item_desc {
  margin-left: 20px;
}

.articles .article_item .article_item_desc .article_item_title {
  font-size: 28px;
  margin-bottom: 16px;
  line-height: 38px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.articles .article_item .article_item_desc .article_item_text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.6);
  width: 620px;
  margin-bottom: 14px;
}

.no_flex {
  justify-content: flex-start !important;
}

.articles .top_feed_icons {
  margin-left: 100px;
}

.article_navigation_panel {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}

.article_navigation_panel .btn_nav {
  font-size: 16px;
  padding: 15px;
  text-decoration: none;
  line-height: 20px;
  position: relative;
  letter-spacing: 0.04em;
  color: #356EAD;
  display: inline-block;
  margin-left: 19px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center
}

.btn_nav.btn_prev:before {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../imgs/arrow_left.svg');
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -19px;
  top: 3px;
  bottom: 0;
  margin: 0 auto;
  padding: 15px 0;
}

.btn_nav.btn_next:after {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../imgs/arrow_right.svg');
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -19px;
  top: 3px;
  bottom: 0;
  margin: 0 auto;
  padding: 15px 0;
}

.form_wrapper_left {
  width: 30%;
}

.form_wrapper_left img {
  margin: 0 auto;
  margin-bottom: 72px;
  display: block;
}

.form_wrapper .form_title {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  margin-bottom: 24px;
  letter-spacing: 0.04em;
}

.form_wrapper .form_subtitle {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  margin-bottom: 40px;
}

.form_wrapper .form_tel_icon.last_child {
  margin-bottom: 40px;
}

.mailto,
.web {
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  padding-left: 38px;
}

.form_wrapper .form_tel_icon {
  display: block;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.04em;
  color: #1F3F68;
  left: 0;
  padding-left: 38px;
  position: relative
}
.form_wrapper .form_tel_icon:before {
  content: '';
  position: absolute;
  background: url('../imgs/phone.svg');
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  bottom: 0;

}

.form_wrapper .mailto{
  position: relative;
}

.form_wrapper .web::after
 {
  content: '';
  width: 20px;
  height: 20px;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 3px;
  bottom: 0;
  margin: 0 auto;
  background: url('../imgs/web.svg')
}
.form_wrapper{
  display: -webkit-flex;
  justify-content: space-between;
  margin-bottom: 96px;
  display: -ms-flex;
  display: flex;
}
.form_wrapper .mailto::after
{
  background-repeat: no-repeat;
  background: url('../imgs/envelope.svg');
  content: '';
  width: 20px;
  height: 20px;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 3px;
  bottom: 0;
  margin: 0 auto;
}
.form_right_name{
  font-size: 20px;
  line-height: 30px;
  margin-left: 54px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
.form_wrapper_right{
  width: 50%;
}
.form_wrapper_right form{
  padding: 56px;
  width: 80%;
}
.form_wrapper_right  input{
  padding: 21px 36px;
  box-sizing: border-box;
  resize: none;
  border: none;
  width: 100%;
  display: block;
  opacity: 0.4;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  margin-bottom: 30px;
  background: #FFFFFF;
  border-radius: 10px;
}
.form_wrapper_right textarea{
  padding: 21px 36px;
  box-sizing: border-box;
  resize: none;
  border: none;
  display: block;
  opacity: 0.4;
  border: 1px solid #356EAD;
  margin-bottom: 71px;
  box-sizing: border-box;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
form label{
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}
form button[type=submit]{
  background: #5A98D0;
  width: 100%;
  box-sizing: border-box;
  padding: 23px 0;
  border: none;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.map img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 96px;
}
